.btn{
    display: inline-block;
    padding: .75rem 1.25rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 10rem;
    font-size: 1rem;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    cursor: pointer;
    margin: 5px 0.2rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    i{
        padding-right: .5rem;
    }
}
.btn.btn-sm{
    line-height: 1rem;
    padding: .45rem .8rem;
    font-size: .9rem;
}
.btn.btn-lg{
    padding: 1rem 1.5rem;
    font-size: 1.1rem;
}


/* -------------------------------------------------------------------------- */
/*                          Clear button with icon                            */
/* -------------------------------------------------------------------------- */
.btn-clear{
    font-weight: $semibold;
    border: 1px solid $charcoal;
    @include clearBtn($charcoal);
}
.btn-clear.btn-teal{
    @include clearBtn($teal);
}
.btn-clear.btn-orange{
    @include clearBtn($orange);
}
.btn-clear.btn-blue{
    @include clearBtn($blue);
}


/* -------------------------------------------------------------------------- */
/*                            Solid button with/without icon                  */
/* -------------------------------------------------------------------------- */
.btn-solid{
    border: none;
    font-weight: $semibold;
    @include solid($grey, $charcoal, white);
}
.btn-solid.btn-blue{
    @include solid($blue, $teal, white);
}
.btn-solid.btn-teal{
    @include solid($teal, $blue,  white);
}
.btn-solid.btn-orange{
    @include solid($orange, lighten($orange, 15%), white);
}
.btn-solid.btn-white{
    @include solid(white, $teal, $blue);
}
.btn-solid.btn-data-save{
    @include solid($grey, $green, white);
}
.btn-solid.btn-data-save.active{
    @include solid($green, darken($green, 15%), white);
}




/* -------------------------------------------------------------------------- */
/*                        Line button with/without icon                       */
/* -------------------------------------------------------------------------- */

.btn-line{
    font-weight: $semibold;
    @include lineBtn($charcoal, white);

}
.btn-line.btn-blue{
    @include lineBtn($blue, white);
}

.btn-line.btn-teal{
    @include lineBtn($teal, white);
}
.btn-line.btn-orange{
    @include lineBtn($orange, white);
}
.btn-line.btn-white{
    color: white;
    border: 3px solid white;
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(white, 0);
        border-radius: 10rem;
        z-index: -2;
      }
      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: $yellow;
        transition: all .3s;
        border-radius: 10rem;
        z-index: -1;
      }
      &:hover {
        color: $charcoal;
        &:before {
          width: 100%;
        }
      }
}

/* -------------------------------------------------------------------------- */
/*                                Icon buttons                                */
/* -------------------------------------------------------------------------- */
.btn.btn-icon{
    font-size: 1.5rem;
    background: $charcoal;
    height: 3rem;
    width: 3rem;
    border-radius: 2.5rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none!important;
     color: white;
     i{
        padding: 0;
     }
     font-weight: $bold;
}
.btn.btn-icon.btn-lg{
    font-size: 2rem;
    height: 3.8rem;
    width: 3.8rem;
    border-radius: 4rem;
}
.btn.btn-icon.btn-sm{
    font-size: 1.2rem;
    height: 2.3rem;
    width: 2.3rem;
    border-radius: 2rem;
}


.btn.btn-icon.btn-teal{
    @include icon($teal, $blue, white, 2.5rem);
}
.btn.btn-icon.btn-green{
    @include icon($grey, $green, white, 2.5rem);
}
.btn.btn-icon.btn-orange{
   @include icon($orange, lighten($orange, 15%), white, 2.5rem);
   
}
.btn.btn-icon.btn-blue{
    @include icon($blue, $teal, white, 2.5rem);
}
.btn.btn-icon.btn-pale{
    @include icon($pale-grey, $grey, white, 2.5rem);
}
.btn.btn-icon.btn-grey{
    @include icon($grey, $charcoal, white, 2.5rem);
}
.btn.btn-icon.btn-charcoal{
    @include icon($charcoal, black, white, 2.5rem);
}
.btn.btn-icon.btn-yellow{
    @include icon($yellow, $orange, $charcoal, 2.5rem);
}



/* -------------------------------------------------------------------------- */
/*                                   Square                                   */
/* -------------------------------------------------------------------------- */
.btn-square{
    border-radius: 0.8rem!important;
}
/* -------------------------------------------------------------------------- */
/*                                Square solid                                */
/* -------------------------------------------------------------------------- */
.btn-square.btn-solid.btn-blue{
    @include solid-square($blue, $teal, white);
}
.btn-square.btn-solid.btn-teal{
    @include solid-square($teal, $blue,  white);
}
.btn-square.btn-solid.btn-orange{
    @include solid-square($orange, lighten($orange, 15%), white);
}
.btn-square.btn-solid.btn-white{
    @include solid-square(white, $teal, $blue);
}
.btn-square.btn-solid.btn-data-save{
    @include solid-square($grey, $green, white);
}
.btn-square.btn-solid.btn-data-save.active{
    @include solid-square($green, darken($green, 15%), white);
}
/* -------------------------------------------------------------------------- */
/*                                 Square line                                */
/* -------------------------------------------------------------------------- */
.btn-square.btn-line.btn-blue{
    @include lineBtn-square($blue, white);
}

.btn-square.btn-line.btn-teal{
    @include lineBtn-square($teal, white);
}
.btn-square.btn-line.btn-orange{
    @include lineBtn-square($orange, white);
}