#map-bounds{
    height: 80vh;
    width: 100vw;
    background: darken($blue, 15%);
    position: relative;
}
#map-location{
    position: absolute;
    top: 10px;
    left: 10px;
    width: calc(100vw - 20px);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
#map-category{
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: calc(100vw - 20px);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
#map{
    position: absolute;
    top: 0;
    left: 0;
    height: 80vh;
    width: 100vw;
}
svg {
    position:absolute; 
}
